.body{
 background-image: url(./assets/img/fondo.png);
 background-color: #C7DB9D;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

.contenedor {
  background-image: url("./assets/img/form-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: .2rem .2rem 1rem .1rem grey;
  border-radius: .3rem;
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
}

.nav{
  background-image: url("./assets/img/form-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: .2rem .2rem 1rem .1rem grey;
  margin: 1rem auto;
  width: 75%;
  border-radius: .3rem;
}
.icon{
  height: 100%;
}


.campo {
  outline: none;
  border-color: #C7DB9D;
  border-style: solid;
}
header{
  width: 100%;
}
/*
.title{
  text-align: center;
  margin-top: 20px;
  font-size:  25px;
  font-weight: bold;
}
 */