*{
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
  margin-top: 20px;
  font-size:  25px;
  font-weight: bold;
}

.contenedor{
    background-color:bisque;
    width: 70%;
    padding: 24px 63px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}