
*{
 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


body{
  background-image: url("./assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: lightgreen;
  background-attachment: fixed;
  box-sizing: border-box;
}

